<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy - Document Folder Usage Description</key>
	<string>La aplicación necesita guardar archivos PDF en su directorio de documentos</string>
	<key>Privacy - File System Usage Description</key>
	<string>Necesitamos acceso para guardar archivos PDF de cuestionarios</string>
</dict>
</plist>
